
# See discord.com/developers/applications/##################/bot.
BOT_TOKEN=""

# The Discord user ID of the bot owner.
BOT_OWNER_USERID=""

# The prefix required for all bot commands.
BOT_COMMAND_PREFIX="::"
